* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

table.content {
  border-collapse: collapse;
  margin: 38px 0px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

table.content thead tr {
  background-color:#436b11;
  color: white;
  font-weight: bold;
  text-align: left;
}

table.content th,
table.content td {
  padding: 12px 16px;
}

table.content tbody tr {
  border-bottom: 1px solid #ccc;
}

table.content tbody tr:last-of-type {
  border-bottom: 2px solid #436b11;
}

table.content tbody tr.active {
  font-weight: bold;
  color:#436b11;
}

.button {
  border-radius:10px 25%;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 20px 2px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 0px solid #000000;
}

.button1:hover {
  background-color: #4a50fc;
  color: rgb(255, 255, 255);
  box-shadow: 0px 15px 20px rgba(31, 98, 255, 0.4);
  transform: translateY(-7px);
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
  box-shadow: 0px 15px 20px rgba(61, 46, 229, 0.4);
  transform: translateY(-7px);
}

body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url("src/pic/night-ga4327a83f_1920.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}



#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d47a1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.github {
  bottom: 10px;
  right: 10px;
  position: fixed;
  border-radius: 10px;
  background: #fff;
  padding: 0 12px 6px 12px;
  border: 1px solid #000;
}

.github a:hover,
.github a:link,
.github a:visited,
.github a:active {
  color: #000;
  text-decoration: none;
}

.github img {
  height: 30px;
}

.github #gh-project {
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
  vertical-align: bottom;
}
